
@media(max-width: 992px){
    .about_section {
    padding: 50px 0;
}.contactbtn {
    margin-top: 5px;
}
}

@media(max-width: 768px){
    .banner_section h1 {
    font-size: 50px;
}.banner_section .fish {
    text-align: center;
    margin-top: 30px;
}.banner_section p {
    margin:0;
    text-align: center;
}.about_section h1 {
    font-size: 30px;
}.project_section h1,.Our_section h1,.team_section h1 {
    text-align: center;
    font-size: 30px;
}.project_section p,.project_section .work,.Our_section p{
    text-align: center;
}footer .row {
    text-align: center;
}.foterimg ul {
    justify-content: center;
}footer {
    padding: 20px 0 50px;
}
}

@media(max-width: 575px){
    .banner_section h1,.about_section h1, .project_section h1, .team_section h1,.Our_section h1,.list h2 {
    font-size: 25px;
}.bannerdot{
    display: none;
}.banner_section ul {
    text-align: center;
}.banner_section p,.radious_box p,.about_section p,.project_section p, .project_section .work, .Our_section p  {
    font-size: 14px;
}.fish a, .work a, .list ul a, .adress_btn button {
    font-size: 14px !important;
    padding: 8px 20px 9px !important;
}.about_section {
    padding: 10px 0;
}.about_section .radious_box {
    margin-top: 15px;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px 0px rgb(104 78 251 / 20%);
}.happy .imoji_text h4 {
    font-size: 16px;
}.imoji_text h1 {
    margin-bottom: 5px;
    font-size: 20px !important;
}.team_section {
    padding: 20px 0;
}.team_section h1 {
    margin-bottom: 25px;
}.list h3 {
    font-size: 20px;
}.list li,.listitem ul li {
    font-size: 14px;;
}.list ul {
    margin-top: 25px;
}.team_section .list {
    padding: 20px 0;
}.adress_btn input {
    font-size: 14px;
}footer {
    padding: 10px 0 20px;
}.banner_section h1 {
    line-height: initial;
}.team_section .list:hover {
    border: 2px solid #40e6dc00;
}
}